<div class="discussion">
  <h4<%= object.email == 'chriswcarpenter@gmail.com' ? ' class="me"' : '' %>>
    <% unless object.url.blank? or object.url.nil? %>
      <%= link_to h(object.name), h(object.url) %>
    <% else %>
      <%=h object.name %>
    <% end %>
    said:
  </h4>
</div>

<%= RedCloth.new(object.body).to_html %>