<div class="discussion">
  <h3<%= object.email == 'c.j.vincent@gmail.com' ? ' class="me"' : '' %>>
    <% unless object.url.blank? or object.url.nil? %>
      <%= link_to h(object.name), h(object.url) %>
    <% else %>
      <%=h object.name %>
    <% end %>
    said:
  </h3>
</div>

<%= RedCloth.new(object.body).to_html %>