<% content_for :title do %>New Comment<% end %>

<h3>New Comment</h3>
<div class="discussion">
<p class="flash error">
  Your comment couldn't be posted.  Note that all fields except <em>URL</em> are required.
</p>


<% tpl_form_for @discussion, :action => discussions_path do |f| %>
  <%= render :partial => 'discussions/form', :locals => {:f => f, :discussion => @discussion} %>
<% end %>