<% content_for :title do %> - wherein Christopher Carpenter blogs nonsensically<% end %>

<%= render :partial => @posts %>

<% content_for :footer do %>
  <p class="buttons"><%= link_to 'Older Posts', posts_path %></p>
<% end %>